.breadcrumbsWrapper {
    margin: 1rem 0;
    color: var(--breadcrumbs-color);
    font-size: .9rem;
    grid-area: breadcrumbs;
}

.breadcrumbsList {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.loadingCrumb {
    content: "";
    background: var(--breadcrumbs-color);
    opacity: .4;
    border-radius: 5px;
}

.crumb {
    display: inline-flex;
    align-items: center;
    text-align: center;
}

.crumb:hover {
    color: var(--default-text-hover);

}

.crumb:not(:first-child) {
    margin-left: 1.5rem;
    position: relative;
}

.crumb:not(:first-child)::before {
    position: absolute;
    margin: auto;
    content: "";
    display: inline-flex;
    border-top: 2px solid var(--breadcrumbs-color);
    border-right: 2px solid var(--breadcrumbs-color);
    rotate: 45deg;
    width: .5rem;
    height: .5rem;
    left: -1.5rem;
    bottom: 0;
    top: 0;
}