.settingsFormContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
}

.inputWrapper {
    display: grid;
}

.inputWrapper input[type="text"], .inputWrapper textarea {
    padding: .65rem .5rem;
    background: var(--input-background-color);
    border: none;
    border-radius: 5px;
    margin: .2rem 0;
    color: var(--input-text-color);
    font-size: .90rem;
}

.inputWrapper textarea {
    resize: vertical;
    min-height: 4.25rem;
}

.inputWrapper label {
    font-size: .80rem;
    text-transform: uppercase;
    letter-spacing: .15ch;
    font-weight: 600;
}

.formHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formButtons {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.button {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background: var(--secondary-button-background);
    padding: .6rem 1rem;
    color: var(--secondary-button-color);
    gap: .25rem;
    font-size: .9rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    border: 1px solid var(--secondary-button-border);
}

.cancelButton {
    background-color: var(--primary-background);
    color: var(--heading-text-color);
    border: 1px solid var(--application-border);
}

.saveButton {
    background-color: var(--heading-text-color);
    color: var(--primary-background);
    border: 1px solid var(--border-gray);
}

.cancelButton:hover {
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.1);
}

.saveButton:hover {
    box-shadow: inset 0 0 0 10em rgba(0, 0, 0, 0.2);
}