
/* Fills entire screen to darken background */
.fullScreenContainer {
    position: fixed;
    display: grid;
    place-content: center;
    width: 100vw;
    height: 100vh;
    background: var(--modal-background);
    top: 0;
    left: 0;
}

/* Div to wrap the form and inputs */
.modalWindow {
    position: relative;
    background: var(--primary-background);
    border: 1px solid var(--border-gray);
    border-radius: var(--border-radius);
    width: clamp(300px, 50vw, 700px);
    padding: 2rem 8%;
    max-height: 700px;
    overflow-y: scroll;
}

.formHeader {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--separator-color);
    color: var(--heading-text-color);
}

.modalTitle {
    font-weight: 300;
    padding: .5rem 0;
}

.requirementText {
    color: var(--subheading-text-color);
    font-size: .75rem;
}

.requiredRed {
    font-family: 'Times New Roman', Times, serif;
    font-size: .85rem;
    color: rgb(177, 26, 26) !important;
}

.modalWindow form {
    display: grid;
    gap: 1rem;
    color: var(--default-text-color);
    padding: 1rem 0;
}

.inputWrapper {
    display: grid;
}

.inputWrapper input[type="text"] {
    padding: .65rem .5rem;
    background: var(--input-background-color);
    border: none;
    border-radius: 5px;
    margin: .2rem 0;
    color: var(--input-text-color);
}

.inputWrapper label {
    font-size: .70rem;
    text-transform: uppercase;
    letter-spacing: .15ch;
    font-weight: 600;
}

.submissionButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.closeButton {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 2rem;
    height: 2rem;
    fill: var(--default-text-color);
    background: transparent;
    border: none;
    cursor: pointer;
}

.closeTextButton {
    font-size: 1rem;
    padding: .6rem 1rem;
    background-color: var(--primary-background);
    color: var(--heading-text-color);
    border: 1px solid var(--application-border);
    border-radius: var(--border-radius);
    letter-spacing: .10ch;
    cursor: pointer;
}

.addButton {
    font-size: 1rem;
    padding: .6rem 1rem;
    background-color: var(--heading-text-color);
    color: var(--primary-background);
    border: 1px solid var(--border-gray);
    border-radius: var(--border-radius);
    letter-spacing: .10ch;
    cursor: pointer;
}

@media (max-width: 600px) {
    .fullScreenContainer {
        position: fixed;
        display: grid;
        place-content: center;
        width: 100vw;
        height: 100vh;
        background: var(--modal-background);
        top: 0;
        left: 0;
        bottom: 0;
    }

    .modalWindow {
        position: absolute;
        background: var(--primary-background);
        border: none;
        border-radius: none;
        width: 100%;
        height: 100%;
        max-height: none;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}