.breadcrumbsWrapper {
	margin: 1rem 0;
	color: var(--breadcrumbs-color);
	font-size: 0.9rem;
	grid-area: breadcrumbs;
}

.breadcrumbsList {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.loadingCrumb {
	content: '';
	background: var(--breadcrumbs-color);
	opacity: 0.4;
	border-radius: 5px;
}

.crumb {
	display: inline-flex;
	align-items: center;
	text-align: center;
}

.crumb:hover {
	color: var(--default-text-hover);
}

.crumb:nth-child(n + 3) {
	margin-left: 1.5rem;
	position: relative;
}

.crumb:nth-child(n + 3)::before {
	position: absolute;
	margin: auto;
	content: '';
	display: inline-flex;
	border-top: 2px solid var(--breadcrumbs-color);
	border-right: 2px solid var(--breadcrumbs-color);
	rotate: 45deg;
	width: 0.5rem;
	height: 0.5rem;
	left: -1.5rem;
	bottom: 0;
	top: 0;
}

/* .crumb:not(:first-child) {
    margin-left: 1.5rem;
    position: relative;
}

.crumb:not(:first-child)::before {
    position: absolute;
    margin: auto;
    content: "";
    display: inline-flex;
    border-top: 2px solid var(--breadcrumbs-color);
    border-right: 2px solid var(--breadcrumbs-color);
    rotate: 45deg;
    width: .5rem;
    height: .5rem;
    left: -1.5rem;
    bottom: 0;
    top: 0;
} */

.expandSidebarLi {
	display: none;
}

@media (max-width: 700px) {
	.crumb:nth-child(n + 2) {
		margin-left: 1.5rem;
		position: relative;
	}

	.crumb:nth-child(n + 2)::before {
		position: absolute;
		margin: auto;
		content: '';
		display: inline-flex;
		border-top: 2px solid var(--breadcrumbs-color);
		border-right: 2px solid var(--breadcrumbs-color);
		rotate: 45deg;
		width: 0.5rem;
		height: 0.5rem;
		left: -1.5rem;
		bottom: 0;
		top: 0;
	}

	.expandSidebarLi {
		display: block;
	}
	.expandSidebarButton {
		width: fit-content;
		height: fit-content;
		border-radius: 5px;
		border: none;
		cursor: pointer;
		background: none;
	}

	.expandSidebarButton svg {
		width: 1.5rem;
		height: 1.5rem;
		fill: var(--breadcrumbs-color);
	}

	.expandSidebarButton:hover svg {
		fill: var(--default-text-hover);
	}
}
