.sidebarContainer {
    position: sticky;
    top: 0;
    height: fit-content;
    align-self: start;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--default-text-color);
}

.sidebarHeader {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid var(--separator-color);
}

.sidebarHeader strong {
    font-weight: 300;
}

.sidebarLinks {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.sublistHeader {
    font-weight: 600;
}

.sublist {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: .25rem;
}

.sectionHeader > p {
    padding-bottom: .5rem;
}

.docLink, .dropdownLinkWrapper {
    font-size: .9rem;
    padding: .25rem 0 .25rem 1rem;
    border-left: 1px solid var(--subheading-text-color);
    font-weight: 400;
}

.docLink:hover, .active, .dropdownLinkWrapper:hover {
    border-left: 1px solid var(--default-text-hover);
    color: var(--default-text-hover);
}

.dropdownLinkWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.dropdownLinkWrapper a {
    color: var(--default-text-color);
}

.dropdownLinkWrapper a:hover {
    color: var(--default-text-hover);
}

.dropdownButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background: none;
    border: none;
    cursor: pointer;
    transition: all .25s ease-in-out;
}

.dropdownSVG {
    width: 1.25rem;
    height: 1.25rem;
    fill: var(--default-text-color);
}

.dropdownSVG:hover {
    fill: var(--default-text-hover);
}

.sublistLinks {
    list-style: none;
    margin: .25rem 2.25rem;
    font-size: .9rem;
    opacity: .8;
}

.sublistLinks:hover {
    color: var(--default-text-hover);
}

.activeDropdown {
    rotate: -180deg;
}

.active {
    border-left: 2px solid var(--default-text-hover) !important;
}

.closeButton {
    display: none;
}

@media (max-width: 700px) {
    .sidebarHeader {
        font-size: 2rem;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }

    .sidebarActive {
        background: rgba(0, 0, 0, .65);
        z-index: 100;
    }

    .sidebarContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 100vh;
        overflow: auto;
        background: var(--primary-background);
        padding-left: 1rem;
        border-right: 1px solid var(--separator-color);
        transform: translateX(-100%);
        transition: transform .25s ease-in-out;
        overflow: scroll;
    }

    .sidebarActive > .sidebarContainer{
        display: block;
        transform: translateX(0);
    }

    .closeButton {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 2rem;
        height: 2rem;
        fill: var(--default-text-color);
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .closeButton:hover {
        fill: var(--default-text-hover);
    }

    .sidebarLinks {
        margin: 1.5rem .75rem;
    }

    .sidebarContainer {
        display: block;
    }

    .sublistHeader {
        font-size: 1.35rem;
        font-weight: 500;
    }

    .sublist > li, .dropdownLinkWrapper{
        font-size: 1.1rem;
    }

    .sublistLinks > li {
        font-size: 1.1rem;
        padding-top: .25rem;
    }

    .dropdownSVG {
        width: 1.75rem;
        height: 1.75rem;
    }
}