.skeletonContainer {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.skeleton {
    border-radius: var(--border-radius);
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.skeletonTeam {
    width: 30%;
    height: 1.25rem; 
}

.skeletonName {
    height: 3rem;
    margin: .5rem 0;
}

.skeletonText {
    width: 100%;
    height: 1.2rem;
}

.skeletonText:last-of-type {
    width: 25%;
}
