
/* Fills entire screen to darken background */
.fullScreenContainer {
    position: fixed;
    display: grid;
    place-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .3);
    top: 0;
    left: 0;
}

/* Div to wrap the form and inputs */
.modalWindow {
    position: relative;
    background: white;
    width: clamp(300px, 50vw, 700px);
    padding: 2rem 8%;
}

.modalWindow form {
    display: grid;
    gap: 1rem;
}

.inputWrapper {
    display: grid;
}

.inputWrapper input[type="text"] {
    padding: .25rem .5rem;
}

.inputWrapper label {
    font-size: .90rem;
}

.closeButton {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 1.5rem;
    height: 1.5rem;
}

.addButton {
    width: fit-content;
    padding: .5rem 1rem;
    margin: 0 auto;
}