:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --figma-gray: rgba(217, 217, 217, 1);
  --nav-background: #0A0A0A;
  --nav-text-color: #FAFAFA;
  --nav-border-color: #3C4257;
  --heading-text-color: #0A0A0A;
  --default-text-color: #171717;
  --default-text-hover: #202020;
  --subheading-text-color: #A3A3A3;
  --border-dark: #171717;
  --primary-background: #FAFAFA;
  --border-gray: transparent;
  --border-radius: 12px;
  --modal-background: rgba(0, 0, 0, .3); 
  --input-text-color: #171717;
  --input-background-color: var(--figma-gray);
  --primary-button-hover: rgb(22, 22, 22); 
  --application-border: #0A0A0A;
  --application-hover: #e8e8e8;
  --code-color: #e8e8e8;
  --secondary-button-background: rgb(109, 109, 109);
  --secondary-button-border: #676767;
  --secondary-button-color: #dedede;
  --secondary-icon-color: rgb(175, 175, 175);
  --secondary-button-hover: rgb(71, 71, 71);
  --separator-color: rgb(40, 40, 40);
  --codeblock-color: rgb(78, 78, 78);
  --code-background: rgb(204, 204, 204);
  --breadcrumbs-color: rgb(66, 66, 66);
  --copybutton-svg: rgb(194, 194, 194);
}

@media (prefers-color-scheme: dark) {
  :root {
    --nav-background: #0A0A0A;
    --nav-text-color: #FAFAFA;
    --heading-text-color: #FAFAFA;
    --default-text-color: #C2C2C2;
    --default-text-hover: #ffffff;
    --subheading-text-color: #A3A3A3;
    --primary-background: #111111;
    --border-gray: #3C4257;
    --modal-background: rgba(69, 69, 69, 0.3); 
    --input-text-color: #FAFAFA;
    --input-background-color: rgb(52, 52, 52);
    --primary-button-hover: rgb(22, 22, 22); 
    --border-dark: #5b5b5b;
    --application-border: #5b5b5b;
    --application-hover: rgb(22, 22, 22);
    --code-color: #9c9c9c;
    --secondary-button-background: rgb(50, 50, 50);
    --secondary-button-border: #A3A3A3;
    --secondary-button-color: #C2C2C2;
    --secondary-icon-color: rgb(140, 140, 140);
    --secondary-button-hover: rgb(71, 71, 71);
    --separator-color: rgb(40, 40, 40);
    --codeblock-color: rgb(187, 187, 187);
    --code-background: rgb(47, 47, 47);
    --breadcrumbs-color: rgb(138, 138, 138);
    --copybutton-svg: rgb(194, 194, 194);
  }
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  background: var(--primary-background);
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4 {
  color: var(--heading-text-color);
}

p {
  color: var(--default-text-color);
}

.code {
  font-size: .95rem;
  display: inline-block;
  font-family: var(--font-mono);
  color: var(--codeblock-color);
  background: var(--code-background);
  padding: .25rem .75rem;
  border-radius: 5px;
}