.tocContainer {
    align-self: start;
    grid-area: toc;
    width: 25ch;
    justify-self: center;
    position: sticky;
    top: 5rem;
}

.toc {
    padding: 0 2rem;
}

.tocContainer p {
    text-align: center;
    color: var(--heading-text-color);
}

.toc ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    list-style: none;
    margin: 0 !important;
    padding: 1rem 0;
    font-size: .95rem;
}

.toc a:hover, .active {
    color: var(--default-text-hover);
}

@media (max-width: 1200px) {
    .tocContainer {
        display: none;
    }
}