/* Make each individual app responsive */
.appContainer {
    height: 100%;
    max-width: 350px;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    gap: .5rem;
    padding: 1rem;
    background: var(--figma-gray);
    background: var(--primary-background);
    border: 1px solid var(--application-border);
    color: var(--default-text-color);
    border-radius: var(--border-radius);
    overflow-y: scroll;
    cursor: pointer;
}

.appContainer:hover {
    background: var(--application-hover);
}

.teamName {
    text-transform: uppercase;
    color: var(--subheading-text-color);
    font-size: .75rem;
    letter-spacing: .15ch;
}
.description {
    font-size: .95rem;
    overflow-y: scroll;
    position: relative;
    line-height: 1.15rem;
    letter-spacing: .05ch;
}

.ownerList {
    display: -webkit-box;
    font-size: .90rem;
    padding-top: 1rem;
    color: var(--subheading-text-color);
    border-top: 1px solid var(--border-dark);
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

@media (max-width: 700px) {
    .appContainer {
        max-width: 400px;
        margin: 0 auto;
    }
}