/* Make each individual app responsive */
.appContainer {
    min-height: 200px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: .5rem;
    padding: 1rem;
    background: var(--figma-gray);
    border-radius: var(--border-radius);
    overflow-y: scroll;
}