.docsContainer {
    display: grid;
    grid-template-columns: minmax(200px, 300px) 1fr;
    height: 100%;
}

.docsMain {
    display: grid;
    grid-template-areas: "breadcrumbs breadcrumbs"
                         "mainContent toc";
    grid-template-columns: 1fr minmax(1fr, 25ch);
    gap: 1rem;
    align-content: start;
    position: relative;
    padding: 1rem; 
    color: var(--default-text-color);
    border-left: 1px solid var(--separator-color);
}

.docsPageMainContent {
    grid-area: mainContent;
}

.docsPageMainContent h1 {
    padding-bottom: 1rem;
    font-weight: 300;
}

.docsPageMainContent h2 {
    padding-top: 1.5rem;
    font-weight: 200;
}

.docsPageMainContent p {
    font-weight: 300;
    letter-spacing: .10ch;
    line-height: 2.25ch;
    margin: 1rem 0;
}

.docsPageMainContent ul, .docsPageMainContent ol {
    padding-left: 2rem;
}

.docsPageMainContent ul > li, .docsPageMainContent ol > li {
    padding: .25rem;
    letter-spacing: .10ch;
    line-height: 2.25ch;
}

.arrowWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .5rem;
    margin-top: 2rem;
    border-top: 1px solid var(--separator-color);
}

.inlineLink {
    text-decoration: underline;
}

.inlineLink:hover {
    color: var(--default-text-hover);
}

@media (max-width: 1000px) {
    .docsContainer {
        grid-template-columns: .4fr 1fr;
        padding: 0 1%;
    }
}

@media (max-width: 700px) {
    .docsContainer {
        grid-template-columns: 1fr;
        padding: 0 1%;
    }
}

@media (max-width: 1200px) {
    .docsMain {
        grid-template-areas: "breadcrumbs"
                             "mainContent";
        grid-template-columns: 1fr;
    }
}