# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
    paths: ["frontend/*"]
  pull_request:
    branches: [ "main" ]
    paths: ["frontend/*"]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - working-directory: ./frontend
#     - name: Use Node.js ${{ matrix.node-version }}
#       uses: actions/setup-node@v3
#       with:
#         node-version: ${{ matrix.node-version }}
#         cache: 'npm'
#     - run: npm ci
#     - run: npm run build --if-present
#     - run: npm test
    - name: Setup pnpm
    # You may pin to the exact commit or the version.
    # uses: pnpm/action-setup@c3b53f6a16e57305370b4ae5a540c2077a1d50dd
      uses: pnpm/action-setup@v2.2.4
      with:
        # Version of pnpm to install
#         version: # optional
        # Where to store pnpm files
#         dest: # optional, default is ~/setup-pnpm
        # If specified, run `pnpm install`
        run_install: true
    - run: pnpm build
